<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fyre NodeAPI</title>
</head>
<body>
    <h1>Welcome to Fyre NodeAPI!</h1>
    <p>Here you can view the resource values of the system this is running on.</p>
    <br>
    <p>Endpoints:</p>
    <ul>
        <li><a href="/api/mem">Memory</a></li>
        <li><a href="/api/cpu">CPU</a></li>
        <li><a href="/api/disk">Disk</a></li>
    </ul>
</body>
</html>